/* Corpo da página */

body {
    width: 100%;
    height: 92vh;
    background-image: url('../img/home/home-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.title h2 {
    font-size: 3rem;
    color: rgb(100, 63, 168);
}

.text p {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}